<% if ( isAJAX == false ) { %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale= 1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NAOKI NISHIKUBO / WEB DEVELOPER / PORTFOLIO</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Jura:500,400,300,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/core.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/layout.css">
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-l <%= (requestedPage != "") ? "main-on" : "" %>">
      <div class="header-container">
        <header>
          <h1><span>Naoki</span><span>Nishikubo's</span><span>Portfolio</span></h1>
          <h2>web developer / designer</h2>
        </header>  
      </div>
      <div class="navigation-container">
        <nav>
          <ul>
            <li><a href="/" class="btn-to-home <%= (requestedPage == "") ? 'selected' : '' %>">home</a></li>
            <li><a href="/work" class="btn-to-section <%= (requestedPage == "work") ? 'selected' : '' %>" data-section-id="#work">work</a></li>
            <li><a href="/aboutme" class="btn-to-section <%= (requestedPage == "aboutme") ? 'selected' : '' %>" data-section-id="#aboutme">about me</a></li>
            <li><a href="/contacts" class="btn-to-section <%= (requestedPage == "contacts") ? 'selected' : '' %>" data-section-id="#contacts">contacts</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <a href="/" class="btn-to-home closebtn <%= (requestedPage != "") ? "main-on" : "" %>"><i class="ion-ios-close-outline"></i></a>

    <div class="wrapper-r <%= (requestedPage != "") ? "main-on" : "" %>">
      <div class="main-container">
        <main>
          <div id="section-container">
          <% } %>
            <% if(requestedPage == "work") {%>
              <% include work %>
            <% } %>
            <% if(requestedPage == "aboutme") {%>
              <% include aboutme %>
            <% } %>
            <% if(requestedPage == "contacts") {%>
              <% include contacts %>
            <% } %>
          <% if ( isAJAX == false ) { %>
          </div>
        </main>
      </div>
    </div>
  </div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/scripts/script.js"></script>
<!-- Design Checker
<script src="http://files.keyes.ie/things/baseliner/baseliner-latest.min.js"></script>
<script>
window.onload = function() {
    //baseliner = new Baseliner();
}
</script>
-->
</body>
</html>
<% } %>