<section id="work" class="row">
  <h1 class="text-center">MY WORK</h1>
  <div class="col-md-12">
    <div class="ajaxdata-container" style="height:<%= ( requestedProjectDetail != null )? "auto" : 0 %>">
      <div id="ajaxdata" class="">
        <% include project-detail %>
      </div>
    </div>    
  </div>
  <ul>
    <% var index = 0; projects.forEach(function(project){ %>
      <li class="col-xs-6 col-sm-6 col-md-4">
        <figure>
          <a href="<%= project.path %>" data-index = '<%= index %>'>
            <img src="<%= project.thumbnail %>" alt="<%= project.alt %>" class="img-responsive center-block">
            <figcaption class="text-center"><%= project.name %></figcaption>
          </a>
        </figure>
      </li>
    <%  index ++;}) %>
  </ul>
</section>